# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Noelia\Google Drive\TUSI 2do cuatri\Metodología III\Ejercicios Patrones GOF - Creacionales\factory_method_resolucion\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
